body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* container */
.container {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

/* title */
h1 {
  margin-bottom: 20px;
}

/* input */
.input-section {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

/* buttons */
button {
  background: #38bdf8;
  color: black;
}

.process {
  margin-top: 15px;
  background: #22c55e;
}

/* list */
.task-list {
  margin-top: 20px;
  text-align: left;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: rgba(255,255,255,0.1);
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
}

/* status */
#status {
  margin-top: 10px;
  color: #facc15;
}